* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
	font-family: black;
	src: url("./assets/fonts/DM_Sans/DMSans_18pt-Black.ttf");
}

@font-face {
	font-family: extrabold;
	src: url("./assets/fonts/DM_Sans/DMSans_18pt-ExtraBold.ttf");
}

@font-face {
	font-family: bold;
	src: url("./assets/fonts/DM_Sans/DMSans_18pt-Bold.ttf");
}

@font-face {
	font-family: medium;
	src: url("./assets/fonts/DM_Sans/DMSans_18pt-Medium.ttf");
}

@font-face {
	font-family: base;
	src: url("./assets/fonts/DM_Sans/DMSans_18pt-Regular.ttf");
}

@font-face {
	font-family: semibold;
	src: url("./assets/fonts/DM_Sans/DMSans_18pt-SemiBold.ttf");
}